<!DOCTYPE html>
<html lang="en">
<head>
    {% block title -%}
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {% block mainmenu -%}
        <ul>
            {% for item in menu%}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        {% endblock mainmenu -%}
        {% if title %}
            <h1>{{title}}</h1>
        {% else %}
            <h1>Про Flask</h1>
        {% endif %}
    {% endblock %}
</body>
</html>